version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16
    branches:
      only:
        - main
    steps:
      - add_ssh_keys:
        fingerprints:
          - "${KEY_FINGERPRINT}"
      - checkout
      - restore_cache:
          keys:
            - dependencies_imooc
      - run:
          name: Install
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: dependencies_imooc
      - run:
          name: Build
          command: npm run build
      - run:
          name: Prepare Shell commands
          command: chmod +x scripts/deploy.sh
      - run:
          name: Run Deploy to Github pages
          command: ./scripts/deploy.sh
