version: 2
jobs:
  build:
    docker:
      - image: circleci/node:16
    branches:
      only:
        - main
    steps:
      # - add_ssh_keys:
      # fingerprints:
      # - ""
      - checkout
      - run:
          name: Install
          command: npm install
      - run:
          name: Build
          command: npm run build
